		<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.phonegap.marketMobile"
		versionCode="10"
		version   = "2.0.0">
		<name>MarketMobile		</name>
		<description>Sistema de pedidos para CAUCHOS LA MUNDIAL, C.A.		</description>
		<author href="https://desarrollosgg.com" email="geiselbauza@gmail.com.com">Desarrollos GG		</author>
		<feature name="http://api.phonegap.com/1.0/battery" />
		<feature name="http://api.phonegap.com/1.0/camera" />
		<feature name="http://api.phonegap.com/1.0/contacts" />
		<feature name="http://api.phonegap.com/1.0/file" />
		<feature name="http://api.phonegap.com/1.0/geolocation" />
		<feature name="http://api.phonegap.com/1.0/media" />
		<feature name="http://api.phonegap.com/1.0/network" />
		<feature name="http://api.phonegap.com/1.0/notification" />
		<preference name="phonegap-version" value="3.0.0" />
		<preference name="android-build-tool" value="ant" />
		<preference name="target-device" value="universal" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="true" />
		<preference name="EnableViewportScale" value="false" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="android-minSdkVersion" value="10" />
		<preference name="android-targetSdkVersion" value="21" />
		<preference name="android-maxSdkVersion" value="23" />
		<preference name="android-installLocation" value="auto" />
		<platform name="android">
		</platform>
		<icon src="icon.png" />
		</widget>
